body {
	display: flex;
	padding: 0;
	margin: 0;
	background-color: #FFCC66;
}

#sidebar {
	position: fixed;
	height: 100%;
	padding: 0.5em;
	z-index: 50;
	top: 0;
	left: 0;
	background-color: #ffcc66;
}

#haus {
	padding-left: 1em;
	padding-bottom: 1em;
	cursor: pointer;
}

.schaf {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.schaf p {
	position: absolute;
	top: 4px;
	font-size: 0.7em;
	font-family: Arial;
	color: black;
	text-align: center;

	left: 50%;
	transform: translateX(-50%);
}

.schaf img {
	width: 7em;
}

.schaf-sel p {
	color: white;
}

#content {
	position: relative;
	left: 8em;
}

.big-img {
	display: block;
	width: 150%;
}

.banner {
	margin-top: 2%;
}

.desc-info {
	font-size: 0.8em;
}

.item {
	padding-bottom: 20px;
	cursor: pointer;
}

.item-im {
	width: 100%;
}

.item p {
	width: 10em;
}

.item div {
	padding: 2%;
	display: flex;
	justify-content: space-between;
}

td {
	height: 15em;
	text-align: center;
}
